<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-input [(ngModel)]="searchInput" clearInput placeholder="Pesquisar" pattern="search" type="search" (ionChange)="searchData()" style="font-size: 20px; margin-left: 10px; font-weight: 400;"></ion-input>
      <ion-icon name="search" padding style="font-size: 26px;"></ion-icon>
    </ion-row>
  </ion-toolbar>
  <ion-segment [(ngModel)]="switcher" color="primary">
    <ion-segment-button value="0" style="font-size:12px; ">
      <ion-label>geral</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1" style="font-size:12px; ">
      <ion-label>favoritos</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-list lines="none" ng-switch="switcher">
    <ion-item ng-switch-when="0" *ngFor="let item of filteredTrabalhos">
      <ion-row class="ion-margin-top">
          <ion-col size=2 class="ion-margin-top">
              <ion-icon (click)="favItem(item)" *ngIf="!item.favorito" name="star-outline"></ion-icon>
              <ion-icon (click)="favItem(item)" *ngIf="item.favorito" name="star"></ion-icon>
          </ion-col>
          <ion-col size=8>
            <div class="title">{{ item.titulo }}</div>
            <div class="author">{{ item.autores }}</div>
          </ion-col>
          <ion-col size=2 class="ion-margin-top">
           <!-- <ion-row style="padding-bottom: 10px">
              <ion-icon (click)="download(item)" margin-left name="download"></ion-icon>
            </ion-row> -->
            <ion-row>
              <ion-icon (click)="popAlert()" margin-left name="information-circle"></ion-icon>
            </ion-row>
          </ion-col>

      </ion-row>
    </ion-item>
    <ion-item ng-switch-when="1" *ngFor="let item of favoritos">
      <ion-row class="ion-margin-top">
          <ion-col size=2 class="ion-margin-top">
              <ion-icon (click)="favItem(item)" *ngIf="!item.favorito" name="star-outline"></ion-icon>
              <ion-icon (click)="favItem(item)" *ngIf="item.favorito" name="star"></ion-icon>
          </ion-col>
          <ion-col size=8>
            <div class="title">{{ item.titulo }}</div>
            <div class="author">{{ item.autores }}</div>
          </ion-col>
          <ion-col size=2 class="ion-margin-top">
           <!-- <ion-row style="padding-bottom: 10px">
              <ion-icon (click)="download(item)" margin-left name="download"></ion-icon>
            </ion-row> -->
            <ion-row>
              <ion-icon (click)="popAlert()" margin-left name="information-circle"></ion-icon>
            </ion-row>
          </ion-col>

      </ion-row>
    </ion-item>
  </ion-list>





  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button>
        <ion-icon color="white" name="settings"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
