<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-input [(ngModel)]="searchInput" clearInput placeholder="Pesquisar" pattern="search" type="search" (ionChange)="searchData('')" style="font-size: 20px; margin-left: 10px; font-weight: 400;"></ion-input>
      <ion-icon name="search" padding style="font-size: 26px;"></ion-icon>
    </ion-row>
  </ion-toolbar>
  <ion-segment [(ngModel)]="switcher" color="main" (ionChange)="reFav()">
    <ion-segment-button value="0" style="font-size:12px; ">
      <ion-label>geral</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1" style="font-size:12px; ">
      <ion-label>favoritos</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-grid  [ngSwitch]="switcher" no-padding>
    <br>
    <ion-row (click)="changeOrderBy()">
      <ion-col size=5 class="ion-text-center">
        Ordenar por:
      </ion-col>
      <ion-col size=5 class="ion-text-center">
          {{ orderBy }}
      </ion-col>
      <ion-col size=2> <!-- aumentar tamanho da setinha -->
          <ion-icon name="arrow-down"></ion-icon>
      </ion-col>
    </ion-row>
  <ion-list lines="none" *ngSwitchCase="0" style="width: 100%;">
    <ion-item *ngFor="let item of filteredTrabalhos">
      <ion-row class="ion-margin-top" style="width: 100%;">
          <ion-col size=2 class="ion-margin-top">
              <ion-icon (click)="favItem(item)" *ngIf="!item.favorito" name="star-outline"></ion-icon>
              <ion-icon (click)="favItem(item)" *ngIf="item.favorito" name="star"></ion-icon>
          </ion-col>
          <ion-col size=8 style="margin-top: 5px;">
            <div class="title" no-wrap>{{ item.titulo }}</div>
            <div class="author" no-wrap>{{ item.autores }}</div>
          </ion-col>
          <ion-col size=2 class="ion-margin-top">
           <!-- <ion-row style="padding-bottom: 10px">
              <ion-icon (click)="download(item)" margin-left name="download"></ion-icon>
            </ion-row> -->
            <ion-row>
              <ion-icon (click)="infoTrabalho(item)" margin-left name="information-circle"></ion-icon>
            </ion-row>
          </ion-col>

      </ion-row>
    </ion-item>
  </ion-list>
  <ion-list lines="none" *ngSwitchCase="1" style="width: 100%;">
    <ion-item *ngFor="let item of filteredFav">
      <ion-row class="ion-margin-top" style="width: 100%;">
          <ion-col size=2 class="ion-margin-top">
              <ion-icon (click)="favItem(item)" *ngIf="!item.favorito" name="star-outline"></ion-icon>
              <ion-icon (click)="favItem(item)" *ngIf="item.favorito" name="star"></ion-icon>
          </ion-col>
          <ion-col size=8 style="margin-top: 5px;">
            <div class="title" no-wrap>{{ item.titulo }}</div>
            <div class="author" no-wrap>{{ item.autores }}</div>
          </ion-col>
          <ion-col size=2 class="ion-margin-top">
           <!-- <ion-row style="padding-bottom: 10px">
              <ion-icon (click)="download(item)" margin-left name="download"></ion-icon>
            </ion-row> -->
            <ion-row>
              <ion-icon (click)="infoTrabalho(item)" margin-left name="information-circle"></ion-icon>
            </ion-row>
          </ion-col>

      </ion-row>
    </ion-item>
  </ion-list>
</ion-grid>




  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button (click)="infoSearch()">
        <ion-icon color="white" name="settings"></ion-icon>
      </ion-fab-button>

  </ion-fab> -->
</ion-content>
