<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <div style="font-size: 20px; margin-left: 10px; font-weight: 400;">
        Sobre
      </div>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>




    <ion-card>
        <ion-card-header>
          <!-- <ion-card-subtitle>SBPJor</ion-card-subtitle> -->
          <ion-card-title>SBPJor</ion-card-title>
        </ion-card-header>
        <ion-img src="/assets/img/sbpjor.png"></ion-img>
        <ion-card-content>
                Secretaria da SBPJor
                Faculdade de Comunicação
                Universidade de Brasília(UnB)
                ICC Norte, Subsolo, Sala ASS 633
                Brasília, DF
                CEP 70.910-900
        </ion-card-content>
      </ion-card>
     
      <ion-card>
          <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>Apoio</ion-label>
              <!-- <ion-button fill="outline" slot="end">Apoio</ion-button> -->
          </ion-item>
            
            <!-- <ion-card-subtitle>Apoio:</ion-card-subtitle> -->
            <!-- <ion-card-title></ion-card-title> -->
         
          <ion-img src="/assets/img/capes.png"></ion-img>
          <ion-img src="/assets/img/cnpq.png"></ion-img>
          <ion-img src="/assets/img/fapesp.png"></ion-img>
          
          
      </ion-card>
      <ion-card>
          <ion-card-header>
            <!-- <ion-card-subtitle>SBPJor</ion-card-subtitle> -->
            <ion-card-title>Criação e Desenvolvimento</ion-card-title>
          </ion-card-header>
          <ion-img src="/assets/img/lex.svg"></ion-img>
          
        </ion-card>



      
     

<!--   
  <h1>SBPJor Logo</h1>


  
  <p>Secretaria da SBPJor
      Faculdade de Comunicação
      Universidade de Brasília(UnB)
      ICC Norte, Subsolo, Sala ASS 633
      Brasília, DF
      CEP 70.910-900</p>
  <br>
  <h1>Apoio:</h1>
  <p>Logo capes</p>
  <p>Logo cnpq</p>
  <p>Logo fapes</p>
  <br>
  <h1>Criação e desenvolvimento:</h1>
  <p>logo lex</p> -->

</ion-content>





<!--  -->
<!--  -->

<!-- 

<ion-content padding>
    <br>
    <div class="about">
      <h4>Promoção:</h4>
      <ion-img width=150 height=80 src="/assets/imgs/sbpjor.png"></ion-img>
      <h4>Apoio:</h4>
      <ion-row>
        <ion-col col-6>
          <ion-img width=150 height=37 src="/assets/imgs/capes.png"></ion-img>
        </ion-col>
        <ion-col col-6>
          <ion-img width=150 height=70 src="/assets/imgs/cnpq.png"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-img width=150 height=51 src="/assets/imgs/fapesp.png"></ion-img>
        </ion-col>
      </ion-row>
      <h4>Realização:</h4>
      <ion-row>
        <ion-col col-6>
          <ion-img width=150 height=40 src="/assets/imgs/universidade.png"></ion-img>
        </ion-col>
        <ion-col col-6>
          <ion-img width=150 height=51 src="/assets/imgs/unesp.png"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-img width=150 height=49 src="/assets/imgs/fmu.svg"></ion-img>
        </ion-col>
      </ion-row>
    </div>
  
  </ion-content>
   -->