<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <div style="font-size: 20px; margin-left: 10px; font-weight: 400;">
        Sobre
      </div>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header>
          <!-- <ion-card-subtitle>SBPJor</ion-card-subtitle> -->
          <!-- <ion-card-title>Promoção</ion-card-title> -->
    </ion-card-header>
    <ion-img class="imgSobre1" src="/assets/img/sbpjor.png"></ion-img>
    <ion-card-content>
                Secretaria da SBPJor
                Faculdade de Comunicação
                Universidade de Brasília(UnB)
                ICC Norte, Subsolo, Sala ASS 633
                Brasília, DF
                CEP 70.910-900
    </ion-card-content>
  </ion-card>
     
      <ion-card>
        <ion-card-header>
          <ion-card-title>Apoio</ion-card-title>
        </ion-card-header>  
          <ion-img class="imgSobre2" src="/assets/img/capes.png"></ion-img>
          <ion-img class="imgSobre2" src="/assets/img/cnpq.png"></ion-img>
          <ion-img class="imgSobre2" src="/assets/img/fapesp.png"></ion-img>
                    
      </ion-card>
      <ion-card>
          <ion-card-header>
            
            <ion-card-title>Criação e Desenvolvimento</ion-card-title>
          </ion-card-header>
          <ion-img class="imgSobre3" src="/assets/img/lex.svg"></ion-img>
          
        </ion-card>

 </ion-content>