<ion-app>
  <ion-menu  contentId="content" side="start">
    <ion-header no-border>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button (click)="refresh()" autoHide="true"></ion-menu-button>
        </ion-buttons>
        <h3 style="padding-left:10%">Menu</h3>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none" margin-left margin-top>
        <ion-item (click)="home()" style="font-size: 18px; font-weight:400; color: #58595b;">
          <ion-icon src="/assets/icon/cronograma.svg" slot="start" style="font-size: 32px;"></ion-icon>
          <ion-label>
            Cronograma
          </ion-label>
        </ion-item>
        <ion-item (click)="goSearch()" style="font-size: 18px; font-weight:400; color: #58595b;">
          <ion-icon src="/assets/icon/pesquisa.svg" slot="start" style="font-size: 32px;"></ion-icon>
          <ion-label>
            Pesquisa
          </ion-label>
        </ion-item>
        <ion-item (click)="goFav()" style="font-size: 18px; font-weight:400; color: #58595b;">
          <ion-icon src="/assets/icon/favoritos.svg" slot="start" style="font-size: 32px;"></ion-icon>
          <ion-label>
            Trabalhos Favoritos
          </ion-label>
        </ion-item>
        <ion-item (click)="openPage('/contact')" style="font-size: 18px; font-weight:400; color: #58595b;">
            <ion-icon src="/assets/icon/contato.svg" slot="start" style="font-size: 32px;"></ion-icon>
            <ion-label>
              Fale Conosco
            </ion-label>
          </ion-item>
          <ion-item (click)="openPage('/about')" style="font-size: 18px; font-weight:400; color: #58595b;">
              <ion-icon src="/assets/icon/info.svg" slot="start" style="font-size: 32px;"></ion-icon>
              <ion-label>
                Sobre
              </ion-label>
            </ion-item>
            <ion-item (click)="doLogout()" style="font-size: 18px; font-weight:400; color: #58595b;" *ngIf="userStatus == 'logedin'">
              <ion-icon src="/assets/icon/logout.svg" slot="start" style="font-size: 26px; margin-left: 4px;"></ion-icon>
              <ion-label>
                Sair
              </ion-label>
            </ion-item>
      </ion-list>
      <ion-button id="entraButton" (click)="goToRegister()" expand="block" color="" *ngIf="userStatus == 'anon' || userStatus == 'logout'"> ENTRAR </ion-button>
      <!-- <ion-button id="saiButton" (click)="doLogout()" expand="block" color="" *ngIf="userStatus == 'logedin'"> SAIR </ion-button> -->
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main animated="false"></ion-router-outlet>
</ion-app>
