

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Registrar</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Usuário"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input type="password" placeholder="Senha"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Confirmar Senha"></ion-input>
          </ion-item>
        </div>
  
        <div padding>
          <ion-button size="medium" (click)="doRegistro()" expand="block" color="main">Registrar</ion-button>
        </div>
       
        <br>
        <div style="padding: 0 22% 0 22%">
          <ion-button class="loginDone" size="small" (click)="goLoginPage()" expand="block" color="medium" fill="outline">Login</ion-button>
        </div>
        <!-- <div style="text-align:center">
          <a href="/home" class="linkDecoration">Modo Anônimo</a> 
        </div> -->

        <div style="text-align:center">
          <a class="linkDecoration" (click)="goAnonimateType()">Modo Anônimo</a>
        </div>


     



      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>


