<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
 

</ion-header>

<ion-content>
  
 
  <ion-grid no-padding> 
      <!-- <ion-slides options="slideOpts1">
        <ion-slide *ngFor="let dia of cronograma[0].dias">
            <ion-row justify-content-center class="ion-padding-bottom">
                <ion-col size=4 align-self-center class="highlight tamDayBox">
                    <ion-row justify-content-center class="number-active">{{ dia.dia }} </ion-row>
                    <ion-row justify-content-center class="text-active">{{ dia.semana }}</ion-row>
                </ion-col>
              </ion-row>
        </ion-slide>
      </ion-slides> -->

      <ion-slides options="slideOpts2"> 
        <ion-slide *ngFor="let dia of cronograma[0].dias">
          <ion-list lines="none" style="width: 100%;">
              <ion-row justify-content-center class="ion-padding-bottom">
                  <ion-col size=4 align-self-center class="highlight tamDayBox">
                      <ion-row justify-content-center class="number-active">{{ dia.dia }} </ion-row>
                      <ion-row justify-content-center class="text-active">{{ dia.semana }}</ion-row>
                  </ion-col>
                </ion-row>
            

            <ion-row  class="ion-margin-top" *ngFor="let atividade of dia.atividades" [ngStyle]=backgroundColor(atividade.categoria)>

              <ion-col size=2>
                <ion-row><ion-col class="hora" margin-left>{{ hora(atividade.hora) }}h</ion-col></ion-row>
              </ion-col>

              <ion-col col-8>
                <ion-row [ngClass]="{'title-active': atividade.open, 'title': !atividade.open}"><ion-col> {{ atividade.titulo }}</ion-col></ion-row>
                <ion-row [ngClass]="{'location-active': atividade.open, 'location': !atividade.open}"><ion-col><ion-icon name="compass"></ion-icon> {{ atividade.local }}</ion-col></ion-row> 
                <ion-row [ngClass]="{'section-active': atividade.open, 'section': !atividade.open}"class="description">
                  <ion-col>
                    <ion-row>
                      <br>{{ atividade.descricao }}<br><br>
                    </ion-row>
                    <ion-row justify-content-center>
                      <ion-button *ngIf="atividade.mesas.length" color="main" fill="outline" expand="block" (click)="openModal(atividade)"> Ver mesas </ion-button>
                              <!-- (click)="openModal(atividade)"  -->
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size=2 class="ion-padding-end">
                <button ion-button outline (click)="expandItem(atividade)" class="my-button">
                  <ion-icon *ngIf="!atividade.open" name="add"></ion-icon>
                  <ion-icon *ngIf="atividade.open" name="remove"></ion-icon>
                </button>
              </ion-col>

            </ion-row>

          </ion-list>
        </ion-slide>
      </ion-slides> 

 <!-- <ion-button (click)="Show()">here</ion-button> -->

 <!-- <img id="imgGif" style="width:5px" class="animated infinite fadeOutRight" src="/assets/icon/hand.svg"> -->
 <img (click)="addCount()" id="imgGif" *ngIf="count == 0" style="width:7vh" class="animated fadeOutLeft" src="/assets/icon/hand.png">




</ion-grid>
</ion-content>
