// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'Open Sans', sans-serif;
  color: #58595b;
}

/*popUp Search*/
.popUpSearch{
   
    border-radius: 15px !important;
    margin-top: 5px !important;
    font-size: 15px !important;
    font-weight: bold !important;
}
.buttonPopUp1{
    background-color: #D5DBE3 !important;

}
.buttonPopUp2{
    background-color: #E35D5D !important;

}
.buttonPopUp3{
    background-color: #E3DC5D !important;

}



.alert-button-inner.sc-ion-alert-md{
    justify-content: center !important;
}
/*end popUp Search*/

.sc-ion-input-md{
    font-family: 'Open Sans', sans-serif !important;
    color: #58595b;
    font-size: 16px !important;
    //text-transform: lowercase;

}

#entraButton{
    color: white !important;
    margin: 30px 15% 0 15% !important;
}
#saiButton{
    background-color: red !important;
    color: white !important;
    margin: 0 15% 0 15% !important;
}

